<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <script type="text/javascript" src="<%- url_for(theme_js("/js/gitment.browser", cache)) %>"></script>
    <script>
        var gitment = new Gitmint({
            lang: 'zh-CN',
            owner: '<%- theme.gitment.owner %>',
            repo: '<%- theme.gitment.repo %>',
            id: '<%- post.title %>',
            oauth: {
                client_id: '<%- theme.gitment.client_id %>',
                client_secret: '<%- theme.gitment.client_secret %>',
            },
        })
        gitment.render('comments')
    </script>
</section>
<% } %>
